*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
  font-family: 'Orbitron', sans-serif;
}

label{
  font-weight: 700;
}

small{
  font-weight: 600;
}

.navbarGlassBg{
  z-index: 5;
  background: rgba( 231, 213, 213, 0.2);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 5.0px );
  -webkit-backdrop-filter: blur( 5.0px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 ); 

}

.glassCard{
  z-index: 5;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.1);
  box-shadow: inset 1px 1px 0.12px rgba(255, 255, 255, 0.1),
    1px 1px 3px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0.01px);
  /*-webkit-backdrop-filter: blur(15px);*/
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.bgGlassCard{
  z-index: 2;
  /* background: rgba(194, 39, 146, 0.6); */
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.1);
  box-shadow: inset 1px 1px 0.12px rgba(255, 255, 255, 0.1),
    1px 1px 3px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  /*-webkit-filter: blur(15px);*/
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.glassBtn{}

.mainCardContainer{
  max-width:45rem;
  max-height:32.5rem;
}

.textClear{
  z-index: 5;
  color: #C22792;
}
